.program__container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.heading {
    font-size: 30px;
    color: #484848;
    font-weight: 700;
}

.heading_display {
    color: #637BFF;
}

.content__heading {
    color: #8149A8;
    font-weight: 700;
    font-size: 18px;
}

.button__container {
    width: 140px;
    height: 54px;
    background: #14CC60;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 16px;
    color: white;
    cursor: pointer;
}

.eligibility_check {
    color: #637BFF;
    cursor: pointer;
}


.program__card_header {
    width: 200px;
    padding: 30px;
    margin: 10px;
}

.program__card {
    width: 200px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 40px;
    margin: 2vw;
    /* box-shadow: 0 1px 1px #333;
    margin: 20px; */
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.offer_card {
    background: rgb(234, 222, 113, 0.5);
    border-radius: 6px;
    padding: 1vh;
    margin: 2vh 0;
}

.content__padding {
    padding: 1vh 0;
}

.card_2 {
    margin-top: 10vh;
}

@media (max-width : 640px) {
    .program__container {
        flex-direction: column;
    }

    .program__card_header {
        text-align: center;
    }

    .visible-mobile {
        display: inline !important;
    }

    .hidden-mobile {
        display: none !important;
    }
}