.about__container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.about__header {
    padding: 50px;
    font-weight: 700;
    font-size: 30px;
    width: 200px;
}

.about__content {
    padding: 50px;
}

.about__header__1 {
    color: #637BFF;
    
}

p {
    white-space: pre;
}

.stats__numbers {
    display: flex;
    justify-content: space-around;
}

/* .stats__numbers__child {
    padding: 5px 10%;
} */

.about__numbers {
    color: #8149A8;
    font-size: 30px;
    font-weight: 700;
}

@media (max-width: 640px) {
    .about__container {
        flex-direction: column;
    }
  }