.about__container {
    display: flex;
    justify-content: center;
    margin: 15vh 10vw;
}

.about__header {
    font-weight: 700;
    font-size: 30px;
    width: 200px;
}

.about__content {
    margin: 0 5vw;
}


.about__content_para2 {
    padding: 2vh 0;
}

.about__header__1 {
    color: #637BFF;
    
}

p {
    white-space: pre;
}

.stats__numbers {
    display: flex;
    justify-content: space-around;
}

.about__numbers {
    color: #8149A8;
    font-size: 30px;
    font-weight: 700;
}

@media (max-width: 640px) {
    .about__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about__header {
        padding: 10px 0;
    }

    .about__content {
        padding: 10px 40px;
    }
    
    .stats__numbers {
        padding: 10px 10px;
        justify-content: space-between;
    }
  }