.card__container {
    display: flex;
    background: #E0F9FF;
    border-radius: 20px;
    justify-content: center;
    margin: 15vh 10vw;
}

.cards {
    padding: 2vh 8vw;
}

.card__header {
    color: #641B98;
    font-weight: 700;
    font-size: 20px;
    display: flex;
}

@media (max-width: 640px) {
    .card__container {
        flex-direction: column;
    }

}