.discord__container {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 40px;
    padding: 50px;
    margin: 15vh 15vw;
    background-color: linear-gradient(151.68deg, #FFEAAA -2.69%, #A6FFE5 98.31%);
    opacity: 1;
}

.discord__img {
    width: 100%;
}

.discord__header {
    color: #C3B85D;
    text-transform: uppercase;
    padding: 1vh 0;
}

.join__button {
    background: linear-gradient(137.56deg, #6A79DF 0.23%, #886ADF 110.36%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 16px;
    width: 190px;
    height: 54px;
    color: white;
}

.discord__message {
    color: #BC00CC;
    font-size: 30px;
    font-weight: 700;
    padding: 1vh 0;
}

.discord__message_Text2 {
    padding: 1vh 0;
}

.discord_button-container {
    padding: 2vh 0;
}


@media (max-width: 640px) {
    .discord__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .discord__img {
        width: 100%;
    }
}