.footer__container {
    display: flex;
    color: white;
    background-color: #1A1D24;
    justify-content: space-around;
    padding: 30px;
    margin-top: 30px;
}

.icons {
    cursor: pointer;
}

.link {
    cursor: pointer;
}